/* ==================================================================== */
                            /* custom.css */
/* ==================================================================== */
/*      use this file to tweak your styles by overriding  others        */


/* Override some of pure.css's menu rules to get clym's */
a.pure-menu-link {
    color: #3b5487;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
a.pure-menu-link:active, a.pure-menu-link:hover, a.pure-menu-link:focus {
    color: #203785;
}

.offsite {
    color: #505050;
}

.offsite > a {
    color: #505050;
    font-size: .75em
}

/* Sections & Headers */

h2 {
    border-bottom: 1px solid #a0a0a0;
}

h2, h3, h4 {
    margin-top: 25px;
}
/*
:not(div#table-of-contents) > h2 {
    margin-left: -20px;
}
*/
article > header {
    border: unset;
    border-left: 2px dashed black;
    background-color: #f0f0f0;

    border-radius: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

/* Preformatted Text & Code Blocks */

pre {
    /* Wrap text */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.example, pre.src {
    border: 1px solid black;
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: .5em;
    margin-top:    .5em;
    border-radius: 10px;
    font-size: 1em;
    font-weight: unset;
}

pre.example {
    background: #f0f0ff;
}

pre.src {
    background: #fffbbb;
}

.linenr {
    color: #999666;
    margin-right: 15px;
}

blockquote {
    border-left: 5px double #a0a0a0;
    background: #fafafa;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Table of Contents */

#table-of-contents {
    margin-top:    2em;
    margin-bottom: 2em;

    padding-bottom: 20px;
    padding-left:   50px;
    padding-right:  50px;

    border-top:    5px double #a0a0a0;
    border-bottom: 5px double #a0a0a0;
    border-radius: 50px;
}

#table-of-contents > h2 {
    border: 0;
}
