/* ==================================================================== */
                            /* custom.css */
/* ==================================================================== */
/*      use this file to tweak your styles by overriding  others        */


/* Override some of pure.css's menu rules to get clym's */

:root {
    --BeOS-grey:  #dedbde;
    --Haiku-grey: #d9d9d9;
    --code-block: #fffbbb;
    --term-block: #f0f0ff;
    --soft-grey:  #a0a0a0;
    --soft-purple: #f0f0f0;
}

a.pure-menu-link {
    color: #3b5487;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

a.pure-menu-link:active, a.pure-menu-link:hover, a.pure-menu-link:focus {
    color: #203785;
}

.offsite {
    color: #505050;
}

.offsite > a {
    color: #505050;
    font-size: .75em
}

/* Sections & Headers */

h2 {
    border-bottom: 1px solid var(--soft-grey);
}

h2, h3, h4 {
    margin-top: 25px;
}

h2 img, h3 img {
    max-height: 1em;
    max-width: 1em;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle
}

/*
:not(div#table-of-contents) > h2 {
    margin-left: -20px;
}
*/
article > header {
    /*
    border: unset;
    border-left: 2px dashed black;
   */
    border: 3px outset var(--soft-purple);
    background-color: var(--BeOS-grey);

    border-radius: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}

/* Preformatted Text & Code Blocks */

pre {
    /* Wrap text */
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.example, pre.src {
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: .5em;
    margin-top:    .5em;
    font-size: 1em;
    font-weight: normal;
}

pre.src {
    background: var(--code-block);
}

pre.example, pre.src-output, pre.src-input, pre.src-termio {
    background: var(--term-block);
}

pre.src::before {
    display: block;
    vertical-align: middle;
    font-family: Sans-serif;
    font-size: 1.5em;
    font-style: bold;
    font-variant: small-caps;
    padding-bottom: 5px;
    color: #a0a0a0;
    content: url(../img/File_SourceCode.png) "  Code";
}


pre.src-termio::before {
    display: block;
    vertical-align: middle;
    font-family: Sans-serif;
    font-size: 1.5em;
    font-style: bold;
    font-variant: small-caps;
    padding-bottom: 5px;
    color: #a0a0a0;
    content: url(../img/App_Terminal.png) "  Terminal IO";
}

pre.src-input::before {
    display: block;
    vertical-align: middle;
    font-family: Sans-serif;
    font-size: 1.5em;
    font-style: bold;
    font-variant: small-caps;
    padding-bottom: 5px;
    color: #a0a0a0;
    content: url(../img/Prefs_Keyboard.png) "  Terminal Input";
}

pre.src-output::before {
    display: block;
    vertical-align: middle;
    font-family: Sans-serif;
    font-size: 1.5em;
    font-style: bold;
    font-variant: small-caps;
    padding-bottom: 5px;
    color: #a0a0a0;
    content: url(../img/Misc_ClassicMacintosh.png) "  Terminal Output";
}

code {
    background-color: unset;
    padding: unset;
}

.linenr {
    color: #999666;
    margin-right: 15px;
}

blockquote {
    border-left: 5px double #a0a0a0;
    background: #fafafa;
    padding: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Table of Contents */

#table-of-contents {
    margin-top:    2em;
    margin-bottom: 2em;

    padding-bottom: 20px;
    padding-left:   50px;
    padding-right:  50px;

    border-top:    5px double #a0a0a0;
    border-bottom: 5px double #a0a0a0;
    border-radius: 50px;
}

#table-of-contents > h2 {
    border: 0;
}

/* Donate Bar */

.donatebar {
    display: block;
    width: 100%;
    padding: 10px;
}


.donatebar {
    width: 30px;
    height: 100%;
    //padding-left: 5%;
    padding-right: 5%;
    vertical-align: middle;
}

.pure-menu-item img {
    display: inline;
    width: 32px;
    height: 100%;
    //padding-left: 5%;
    padding-right: 5%;
    //vertical-align: middle;
}

/* Donate Page */

div.donatecontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.donateinfo {
    max-width: 350px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}

div.donateinfo a img {
    width: 50%;
}

div.donateinfo code {
    font-size: xx-small;
    overflow-wrap: break-word;
    display: unset;
}


/* Toggle Bar */

.toggle-bar-container {    
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggle-bar-container .toggle-bar-header {
    display: inline;
    margin: 0;
    width: 25%;
    padding-left: 10px;
    padding-right: 25%;

    font-weight: bold;
    font-size: 1em;
    
    background-image: linear-gradient(90deg, rgba(250, 203, 23, .5), rgba(250, 203, 23, 1));
    border: 3px solid rgba(222, 219, 222, .5);
}

.toggle-bar {
    background-color: rgba(222, 219, 222, 1) ;
    border: 3px ridge rgba(222, 219, 222, 1);
    padding: 10px;
}

header {
    background-color: rgba(222, 219, 222, 1) ;
    border: 2px outset rgba(222, 219, 222, 1);
    margin-bottom: 20px;
}
